body, canvas, menu {
    margin: 0;
    padding: 0 !important;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    font-family: "Segoe UI";
}

#preloader {
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all, 1.5s;
}

#preloader img {
    width: 3em;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.show {
    z-index: 100 !important;
    display: flex !important;
    background-color: #ffffff;
}

#controls {
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: inline-flex;
    width: 100%;
    height: 55px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
}

.track {
    display: flex;
    position: relative;
    width: 100%;
}

#playerCurrentTime {
    font-size: 13px;
    margin: 0 15px;
}

.play-button {
    margin-top: -3px;
    cursor: pointer;
    user-select: none;
}

.fullscreen {
    padding: 10px;
    cursor: pointer;
}

.fun {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left-controls {
    display: inline-flex;
    padding: 10px;
    width: 100%;
}

#animationSlider{
    height: 2px;
    background-color: #ffffff;
    width: 100%;
    cursor: pointer;
}

#animationSlider span{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #0097d5;
    border: 1px solid #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 10%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	height: 2px;
	background-color: #ffffff;
	width: 100%;
	cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #0097d5;
	border: 1px solid #ffffff;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	appearance: none;
	margin-top: -4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}
input[type=range]::-moz-range-track {
	height: 2px;
	background-color: #ffffff;
	width: 100%;
	cursor: pointer;
}
input[type=range]::-moz-range-thumb {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #0097d5;
	border: 1px solid #ffffff;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	appearance: none;
	margin-top: -4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
}
input[type=range]::-ms-track {
	height: 2px;
	background-color: #ffffff;
	width: 100%;
	margin-top: -4px;
	cursor: pointer;
}
input[type=range]::-ms-fill-lower {
	height: 2px;
	background-color: #ffffff;
	width: 100%;
	cursor: pointer;
}
input[type=range]::-ms-fill-upper {
	height: 2px;
	background-color: #ffffff;
	width: 100%;
	cursor: pointer;
}
input[type=range]::-ms-thumb {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #0097d5;
	border: 1px solid #ffffff;
	cursor: pointer;
	margin-top: -4px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
}
input[type=range]:focus::-ms-fill-lower {
	background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
	background: #ffffff;
}
